= form_for @register do |f|
  - if @register.errors.any?
    #error_explanation
      %h2= "#{pluralize(@register.errors.count, "error")} prohibited this register from being saved:"
      %ul
        - @register.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :image
    = f.file_field :image
  .actions
    = f.submit 'Save'

