%h1 Editing register

= render 'form'

= link_to 'Show', @register

/*= link_to 'Back', registers_path
= link_to 'Back', homeevent_path
/*= link_to 'Home', controller: "static_pages", action: "static"