%p#notice= notice

%p
  %b Email:
  = @register.email
%p
  %b Username:
  = @register.username

%p
  %b Phone:
  = @register.phone

= link_to 'Edit', edit_register_path(@register)

= link_to 'Back', homeevent_path

/*= link_to 'Home', controller: "static_pages", action: "static"