<h1>I'm in Status..</h1>
<p id="notice"><%= notice %></p>
<% if current_register %>
  Your welcome ! <br>
  Logged in as <%= current_register.username %>.<br>
  Your infomation<br>
  <%= image_tag current_register.image_url.to_s,style:"height: 100px; width: 100px;" %><br>
  Username : <%= current_register.username %><br>
  Email    : <%= current_register.email %><br>
  Phone    : <%= current_register.phone %><br>
  <%= link_to "Log Out", logout_path %>
  <%= link_to "Destroy",current_register, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to "Edit", edit_register_path(current_register) %>
  <%= link_to "Back", homeevent_path %>
<% else %>
  <%= link_to "Sign Up", signup_path  %> or
  <%= link_to "Log In", login_path %>
<% end %>

