%p#notice= notice

%h1 Events

%table
  %thead
    %tr
      %th Title
      %th Category
      %th Description
      %th By
      %th Start
      %th End
      %th Phone
      %th 
      %th 
      %th 

  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.category
        %td= event.description
        %td= event.by
        %td= event.start
        %td= event.end
        %td= event.phone
        %td= link_to 'Show', event
        
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
        

= link_to 'New Event', new_event_path
= link_to 'Back',root_url
