%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b Category:
  = @event.category
%p
  %b Description:
  = @event.description
%p
  %b By:
  = @event.by
%p
  %b Username:
  = @event.register.username  
%p
  %b Start:
  = @event.start
%p
  %b End:
  = @event.end
%p
  %b Phone:
  = @event.phone

%tr
  = link_to vote_event_path(@event), method: :post do
    %button Upvote
    = @event.get_upvotes.size
  = link_to downvote_event_path(@event), method: :post do
    %button Downvote
    = @event.get_downvotes.size  
%br
%h2
  = @event.comments.count
  comments
= render :partial => @event.comments
= simple_form_for [@event, Comment.new] do |f|
  = f.text_area :body
  = f.submit "Add comment"

%br
- if @event.register_id = current_register
  = link_to 'Edit', edit_event_path(@event)
  = link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }
/*= link_to 'Back', events_path
= link_to 'Back',homeevent_path


