= form_for @report do |f|
  - if @report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
      %ul
        - @report.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :event
    = f.text_field :event
  .field
    = f.label :report 
    = f.text_field :report
  .field
    = f.label :by
    = f.text_field :by
  .field
    = f.label :desciption
    = f.text_area :desciption,:cols => 70, :rows => 20
  .actions
    = f.submit 'Save'
